[Unit]
Description=vsftpd daemon
After=network.target

[Service]
ExecStart=/usr/sbin/vsftpd
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
